// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "sass:map"; 

$breakpoint: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@mixin sm {
  @media (min-width: map.get($breakpoint, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map.get($breakpoint, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map.get($breakpoint, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map.get($breakpoint, "xl")) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: map.get($breakpoint, "xxl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

.responsive-test{

  @include sm {
    background-color: blue;
    font-size: 2rem;
  }   
  @include md {
    background: green;
  }
  @include lg {
    background: yellow;
  } 
  @include xl {
    background: orange;
  }
  @include xxl {
    background: purple;
  }
  @include breakpoint(1400px) {
    background: pink;
  }
}