@use "../abstracts" as *;

.main-container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) 30%;
  grid-template-rows: 15% repeat(2, minmax(40%, 1fr)) 10%;
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sidebar"
    "footer footer footer";
}

.site-main {
  grid-area: content;
}

.widget-area {
  grid-area: sidebar;
  @include md {
    display: none;
  }
}
.site-footer {
  grid-area: footer;
}
