@use "../abstracts";
.site {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)) 30rem;
  grid-template-rows: 10rem repeat(3, minmax(0, 1fr));
  gap: 1rem;
  grid-template-areas:
    "header header header header"
    "content content content sidebar"
    "content content content sidebar"
    "footer footer footer footer";
}

.site-main {
  grid-area: content;
}
.widget-area {
  grid-area: sidebar;
}
