// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr;
  grid-template-areas:
    "header-top-left header-top-mid header-top-right"
    "site-branding main-navigation main-navigation";
}
.site-branding {
  width: 15rem;
  height: 10rem;
}
.main-navigation {
  width: 20rem;
  align-items: left;
}
.header-top{
  grid-area: header-top-mid;
  display: flex;
  max-height: 10rem;
}