.main-navigation .menu {
  li {
    list-style: none;
    display: block;
    float: left;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 2rem;
  }
  a{
    display: block;
  }
}
