.main-navigation {
  display: flex;
  li {
    list-style: none;
    display: inline-block;
    
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 2rem;
  }
  a {
    display: block;
  }
}
